.App {
  text-align: center;
}

.link {
  margin-top:10px;
  margin-left: 10px;
  height: 2em;
  /* background-color: rgb(190, 174, 174); */
  background: linear-gradient(90deg, rgba(190,174,174,1) 0%, rgba(245,240,247,1) 35%, rgba(255,255,255,1) 100%);
  font-size: 1.3em;
  padding-left: 10px;
  font-weight:500;

}

.update {
  margin-left: 10px;
}

button {
  width: 99px;
  margin: 2px;
}

.center-within {
  margin-left: 30px;
  padding-left: 38px;
  }

.colored {
  background-color: rgb(245, 240, 247);
  width: 175px;
  height: 450px;
  box-shadow: 10px 10px 8px #888888;
}

.top-margin {
  margin-top: 30px;
  padding-top: 20px;
}

.message {
  text-align: center;
  margin-right: 38px;
}

.counts {
  margin-left: 180px;
  margin-top: -210px;
  width: 200px;
  height: 200px;
  font-weight: 300;
  font-size: 1.5em;
  font-style: italic;
}

.signupin {
  width: 30%;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  border: gray 2px solid;
  border-radius: 20px;
}

.logBtn {
  width: 40%;
  margin-left: 6%;
}