.App {
  text-align: center;
}

.link {
  margin-top:10px;
  margin-left: 10px;
  height: 2em;
  background: linear-gradient(90deg, rgba(190,174,174,1) 0%, rgba(245,240,247,1) 35%, rgba(255,255,255,1) 100%);
  font-size: 1.3em;
  padding-left: 10px;
  font-weight:500;
}

.update {
  margin-left: 10px;
}

button {
  width: 99px;
  margin: 2px;
}

.center-within {
  margin-left: 30px;
  padding-left: 38px;
  }

.colored {
  background-color: rgb(245, 240, 247);
  width: 175px;
  height: 450px;
  box-shadow: 10px 10px 8px #888888;
}

.top-margin {
  margin-top: 30px;
  padding-top: 20px;
}

.message {
  text-align: center;
  margin-right: 38px;
}

.counts {
  width: 150px;
  height: 150px;
  font-weight: 300;
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  position: fixed;
  top: 90px;
  left: 230px;
  background: rgb(195,103,34);
  background: linear-gradient(0deg, rgba(195,103,34,0.11390493697478987) 0%, rgba(253,187,45,0.007462359943977592) 100%);
  border-radius: 10%;
}

.txt {
  font-weight: 600;
}

.signupin {
  width: 30%;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  border: gray 2px solid;
  border-radius: 20px;
}

.logBtn {
  width: 40%;
  margin-left: 6%;
}

.next {
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}